@import 'styles/colors';
@import 'styles/breakpoints';
@import 'styles/mixins';

$imageWidth: .3;
$itemRootBgColor: adjust-color($movieCardBgColor, $alpha: -.55, $lightness: -8%);

@keyframes onViewRest {
	0% {
		transform: scale(1);
	}
	20% {
		transform: scale(0.97);
	}
	100% {
		transform: scale(1);
	}
}

.runAnimation {
	animation: onViewRest 600ms;
}

.root {
	position: relative;
	display: flex;
	background-color: $itemRootBgColor;
	height: 100%;
	width: 100%;
	padding: 20px;
	box-sizing: border-box;
	border-radius: 12px;
	color: whitesmoke;
	overflow: hidden;

	&[item-view=false]:hover {
		filter: brightness(110%);
		cursor: pointer;
		&:before {
			border-radius: 12px;
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			box-sizing: border-box;
			border: 1.5px solid $appColor;
		}
	}

	.content {
		flex: 1;
		position: relative;

		.wrapper {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
			padding-left: 15px;

			& > * {
				box-sizing: border-box;
			}

			.header {
				display: flex;
				flex-direction: column;
				height: 65%;
				max-height: 65%;
				font-weight: normal;
				font-size: 1.13rem;
				opacity: .82;

				.title {
					width: 100%;
					margin: 0;
					transition: font-size 450ms linear;
				}

				.year {
					opacity: .7;
					font-size: .8em;
				}

				.overViewSection {
					@include customScrollbar;
					flex: 1;
					font-size: 1rem;
					overflow-y: auto;
					margin-bottom: 5px;
				}
			}

			.info {
				flex: 1;
				display: flex;
				align-items: center;
				position: relative;
			}
		}
	}
}

@include media('>md') {
	.root {
		&:after {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			height: 100%;
			width: 100%;
			box-shadow: inset 0 0 16px 2px rgba(6, 6, 6, 0.7);
			z-index: -1;
		}

		&[item-view=true] {
			background-color: transparent;
			box-shadow: unset;
			max-width: 55vw;

			.content .header {
				max-height: unset;
				height: calc(100% - 65px);
			}
		}

		&[item-view=false] {
			transition: box-shadow 550ms ease-out;
			box-shadow: $movieCardBoxShadow;

			.content .header .title {
				-webkit-line-clamp: 4;
				display: -webkit-inline-box;
				-webkit-box-orient: vertical;
				overflow: hidden;
			}

		}
	}
}

@include media('<=sm') {
	.root {
		&[item-view=true] {
			margin-top: 30px;
			position: unset;
			padding: 20px 0;
			background-color: rgba(0, 0, 0, 0.5);
			.content {
				height: 100px;
			}
		}
	}
}

@include media('<=xs') {
	.root {
		.content {
			.wrapper {
				.header {
					.title {
						font-size: 1rem;
					}
				}
			}
		}
		&[item-view=false] {
			.content {
				.wrapper {
					.info {
						flex-direction: row-reverse;
					}
				}
			}
		}
	}
}
