@import 'styles/breakpoints';
@import 'styles/colors';

.root {
  position: relative;
  transform-origin: bottom;
  .grid {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
  }
}

@include media('<=sm') {
  .root  {
    .grid {
      padding: 50px 0 200px;
      box-sizing: content-box;
    }
  }
}