@import 'styles/colors';
@import 'styles/breakpoints';

$addToListColor: rgb(63, 175, 255);
$addToFavColor: rgb(255, 83, 150);
$addWatchlistColor: rgb(84, 255, 88);
$rateActionColor: rgb(255, 241, 55);

.root {
	margin: 0;

	display: flex;
	position: relative;
	align-items: center;
	height: fit-content;

	.iconWrapper {
		border-radius: 100%;
		position: relative;
		background-color: rgba(0, 0, 0, 0.5);
		@for $i from 1 through 2 {
			&:nth-child(#{$i}) {
				margin-right: 15px;
			}
		}

		&[is-loading=true] {
			animation: rotateLoading 1s infinite ease-in-out;
			pointer-events: none;
		}

		&[active-icon=true] {
			background: radial-gradient(darken($appColor, 10%), lighten($appColor, 10%));

			&[action-name=favorite] .icon {
				color: $addToFavColor;
			}

			&[action-name=watchlist] .icon {
				color: $addWatchlistColor;
			}

			&[action-name=rated] {
				.icon {
					color: $rateActionColor;
				}

				&:after {
					content: attr(icon-score);
					position: absolute;
					left: 50%;
					top: 50%;
					transform: translate(-50%, -50%);
					color: black;
					font-size: 12px;
					letter-spacing: .01px;
					font-weight: bolder;
					background-color: $rateActionColor;
					border-radius: 50px;
					padding: 2px;
					pointer-events: none;
				}
			}
		}

		.icon {
			color: rgba(255, 255, 255, 0.4);
			display: block;
			position: relative;
			height: 55px;
			box-sizing: border-box;
			width: auto;
			padding: 9px;
			border-radius: 100%;
			transition: color 300ms linear, box-shadow 100ms linear,
			transform 300ms cubic-bezier(0, 0, 0.2, 1);


			&:hover {
				cursor: pointer;
				background-color: rgba(0, 0, 0, 0.2);
				transform: scale(1.1);
			}
		}
	}
}

.ratingModalContainer {
	user-select: none;
	.ratingModal {
		position: absolute;
		background-color: $appColor;
		margin-left: 20px;
		padding: 4px 7px;
		top: 50%;
		transform: translateY(-50%);
		left: 100%;
		display: flex;
		align-items: center;
		border-radius: 30px;
		.removeButton {
			outline: none;
			border: 1px solid black;
			border-radius: 30px;
			font-weight: bolder;
			margin-right: 5px;
			padding: 0 5.5px;
			cursor: pointer;
			background-color: rgba(198, 198, 198, 0.56);
			box-sizing: border-box;

			&:hover {
				background-color: rgba(115, 115, 115, 0.7);
			}
		}
	}
}

.showAuth {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 1;
	& > * {
		background: rgba(0, 0, 0, 0.6) !important;
	}
	.xButton {
		margin: 0;
		position: absolute;
		right: 10px;
		top: 10px;
		color: darkred;
		width: fit-content;
		display: block;
		z-index: 200;
		//transform: translate(-50%, -50%);
	}
}

@keyframes rotateLoading {
	from {
		transform: rotateY(0deg);
	}
	to {
		transform: rotateY(360deg);
	}
}

.toolTip {
	& > :first-child {
		//margin-top: 9px;
		margin-left: 4px;
		font-size: .7rem;
		font-weight: normal;
	}
}

@include media('>sm') {
	.root {
		.iconWrapper {
			&:hover {
				&[action-name=favorite] .icon {
					color: $addToFavColor;
				}

				&[action-name=watchlist] .icon {
					color: $addWatchlistColor;
				}

				&[action-name=rated] .icon {
					color: $rateActionColor;
				}
			}
		}
	}
}

@include media('<=sm') {
	.showAuth {
		.xButton {
			right: 20px;
			border-radius: 10px;
			top: 10px;
			width: 28px;
		}
		& > * {
			transform: translate(-50%, -20px) !important;
		}
	}
	.ratingModalContainer {
		position: fixed;
		margin-left: unset;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		box-sizing: border-box;
		z-index: 1;
		background: linear-gradient(to top,
				  darken($appColor, 20%),
				  $appColor 40%,
				  transparent
		);
		.ratingModal {
			position: relative;
			box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
			width: fit-content;
			transform: scale(1.5);
			margin: auto;
			top: 60%;
			left: unset;
			right: unset;
			background-color: $appColor;
			.removeButton {
				transform: scale(1.3);
			}
		}
		.mobileSubmit {
			z-index: 2;
			display: block;
			background-color: gold;
			border-radius: 20px;
			border: none;
			font-weight: bolder;
			position: absolute;
			top: 150%;
			left: 50%;
			transform: translateX(-50%);

			&:disabled {
				filter: grayscale(100%) opacity(55%);
			}
		}
	}
}

@media only screen and (max-width: 340px) {
	.root {
		padding-left: 15px;
	}
}