@import 'styles/colors';
@import 'styles/mixins';

.root {
  box-sizing: border-box;
  height: 100%;
  position: relative;
  @include flexCentered();
  width: fit-content;
  opacity: .95;
  cursor: default;
  svg {
    filter: drop-shadow(0 0 4px black);
  }
  .scoreValue {
    position: absolute;
    opacity: .9;
  }
}