@import 'styles/colors';
@import 'styles/mixins';
@import 'styles/breakpoints';

.root {
  box-sizing: border-box;
  height: 100%;
  position: relative;
  @include flexCentered();
  width: fit-content;
  cursor: default;
  transition: opacity 800ms ease-out;
  .scoreValue {
    position: absolute;
    opacity: .9;
  }
}

@include media(">md") {
  .root {
    svg {
      filter: drop-shadow(0 0 4px black);
    }
  }
}