$appColor: #14223c;
$appTextColor: adjust_color($color: $appColor, $lightness: 50%, $saturation: -20%);

$movieCardBgColor: adjust_color($color: $appColor, $lightness: -5%);


$degreeOffset: 15deg;
$linearDegrees: 45deg;

$navBackground: linear-gradient(
    $linearDegrees,
    adjust_hue($appColor, -$degreeOffset),
    $appColor,
    adjust_hue($appColor, $degreeOffset)
);


$appBgColor: adjust_color($appColor, $saturation: -25%, $lightness: 4%);

$appBackground: linear-gradient(
    -$linearDegrees,
    adjust_hue($appBgColor, -$degreeOffset),
    $appBgColor,
    adjust_hue($appBgColor, $degreeOffset)
);
