@import 'styles/colors';
@import 'styles/breakpoints';
@import 'styles/mixins';

html {
  background: $appBackground fixed;
  overflow-x: hidden;
}


body {
  margin: 0;
  font-family: 'Ubuntu', 'Roboto', sans-serif;
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

.loading-pulse {
  @include loadingAnimation;
}
