@import 'styles/colors';
@import 'styles/breakpoints';

.root {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 450ms linear;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    height: 100%;
    width: auto;
    color: lighten($appColor, 50%);
    stroke-linecap: round;

    circle {
      stroke-width: 1px !important;
    }
  }
}

@include media("<=sm") {
  .root {
    svg {
      circle {
        stroke-width: 2px !important;
      }
    }
  }
}

.darken {
  background: rgba(13, 13, 13, 0.7);
}