@import 'styles/breakpoints';

.root {
	position: relative;
	height: 80px;
	.searchHead {
		box-sizing: border-box;
		padding: 20px 0;
		display: flex;
		justify-content: flex-end;
	}
}

@include media('<=sm') {
	.root {
		margin-top: 40px;
	}
}