@import 'styles/colors';
@import 'styles/breakpoints';
@import 'styles/shape';
@import 'styles/mixins';

.root {
    $transitionTime: 350ms;
	$focusTransition: cubic-bezier(0, 0, 0.2, 1) $transitionTime;
	box-sizing: border-box;
	position: absolute;
  border-radius: 6px;
    transition:
          left $focusTransition,
          top $focusTransition,
          width $focusTransition,
          transform $focusTransition;

	&[is-focused=true] {
		width: 40%;
		left: 50%;
		top: 300%;
		transform: translate(-50%, -50%);
        box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.5);
        transition:
                left $focusTransition,
                top $focusTransition,
                width $focusTransition $transitionTime,
                transform $focusTransition;
      z-index: 10;
	}

	&[is-focused=false] {
		width: 20%;
		left: 0;
		top: 50%;
		transform: translate(0%, -50%);
	}

	.bar {
		width: 100%;
		border-radius: $appBorderRadius;
		position: relative;
		background-color: $movieCardBgColor;

		& > div {
			border-radius: $appBorderRadius;
			position: relative;
			overflow: hidden;
		}

		label, input {
			color: $appTextColor;
			margin-left: 10px;
		}

		p {
			position: absolute;
			bottom: 100%;
			right: 2%;
			height: fit-content;
			margin-bottom: -1px;
			background-color: rgba(0, 0, 0, 0.5);
			padding: 0 8px;
			border-radius: 50px;
		}
	}
}

.suggestionsDropdown {
	$accentColor: darken($appColor, 20%);
	background-color: rgba(0, 0, 0, 0.8);
	box-sizing: border-box;
	border: 1px solid $accentColor;
	top: 100%;
	left: 1%;
	width: 98%;
	position: absolute;
	padding: 0;
	margin: 0;
	list-style: none;
	height: fit-content;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	z-index: 20;
	li {
		padding: 5px 10px;
		box-sizing: content-box;
		cursor: default;
		user-select: none;
		&:last-child {
			margin-bottom: 10px;
		}
		&[aria-selected=true] {
			background: adjust_color($accentColor, $alpha: -.45, $lightness: 20%);
		}
	}
}

@include media('<=sm') {
  .root {
    &[is-focused=true] {
      width: 80%;
      top: 150%;
      box-shadow: 0 0 20px 7px rgba(0, 0, 0, 0.36);
    }
    &[is-focused=false] {
      width: 40%;
    }
  }
}