@import 'styles/colors';

.root {
  margin: 40px 30vw;
  color: $textColor;
  box-sizing: border-box;
  border-radius: 6px;
  overflow: hidden;
  .title {
    font-weight: normal;
    font-size: 1.3rem;
    margin: 0;
  }
  .bar {
    background-color: $cardBgColor;
    label, input {
      color: lightslategrey;
      margin-left: 10px;
    }
 }
}