@import 'styles/mixins';
@import 'styles/colors';
@import 'styles/breakpoints';

.root {
	flex: 1;
	margin-bottom: 12px;
	margin-top: auto;
	max-height: 36.5vh;
}

@include media('<=sm') {
	.root {
		margin: 40px 0;
	}
}
